body {
 
  display:flex;
	justify-items:center;
	color:white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button
	{
	 background-color: LightSlateGray;
	 font-family:"Orbitron";
	 font-size:25px;
	 color:white;
	 
	}
	button:hover{
	background-color: gray;
	color:black;
	}
	button:active{
	
	box-shadow: 0 1px #666;
    transform: translateY(4px);
	}